<div
  class="w-[16.5rem] h-screen flex flex-col justify-between border-[rgba(0,0,0,0.13)] border-r">
  <div class="flex flex-col p-4">
    <div class="w-14 h-14 mb-4">
      <img class="w-full h-full" src="assets/images/logo.png" alt="logo" />
    </div>

    <ul class="flex flex-col">
      <ng-container *ngFor="let item of navItems()">
        <app-nav-item [link]="item.link" [data]="item.detail"> </app-nav-item>
      </ng-container>
    </ul>

    <div class="w-full border-[rgba(0,0,0,0.13)] border-t my-5"></div>

    <div class="flex flex-col">
      <div class="px-3 mb-3">
        <p class="text-sm font-semibold">Collections</p>
      </div>

      <ul class="flex flex-col">
        <ng-container *ngFor="let item of navCollectionItems()">
          <app-nav-collection-item
            [link]="item.detail.id + '/bookmark'"
            [data]="item.detail"></app-nav-collection-item>
        </ng-container>
      </ul>

      <div class="px-3 py-2">
        <div
          class="flex gap-2 px-3 py-2 border-2 border-gray-300 border-dashed hover:border-solid rounded-lg cursor-pointer">
          <!-- <pad-icon
            key="plus"
            width="1.25rem"
            height="1.25rem"
            class="stroke-gray-500"></pad-icon> -->
          <p class="text-gray-600 font-medium leading-5">New Collection</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div
      (click)="openUserDropDown = !openUserDropDown"
      class="p-2 border-[rgba(0,0,0,0.13)] border-t flex items-center justify-between relative">
      <div class="flex items-center gap-3 cursor-pointer">
        <div class="w-10 h-10 rounded-lg bg-black"></div>

        <div class="flex flex-col">
          <p class="text-sm font-semibold leading-5 text-gray-700">
            {{ vm.user?.lastName }}
          </p>
          <p class="text-sm text-gray-600">{{ vm.user?.email }}</p>
        </div>
      </div>

      <div
        *ngIf="openUserDropDown"
        class="absolute w-60 -right-full -top-60 rounded-lg border border-gray-200 bg-white shadow-lg">
        <ul class="flex flex-col py-1">
          <li class="h-[42px] flex items-center px-4 gap-2">
            <pad-icon class="stroke-gray-700" key="user" [size]="GroupIcon.md"></pad-icon>
            <p class="text-sm font-medium text-gray-700">View profile</p>
          </li>

          <li class="h-[42px] flex items-center px-4 gap-2">
            <pad-icon
              class="stroke-gray-700"
              key="settings"
              [size]="GroupIcon.md"></pad-icon>
            <p class="text-sm font-medium text-gray-700">Setting</p>
          </li>

          <li class="h-[42px] flex items-center px-4 gap-2">
            <pad-icon class="stroke-gray-700" key="zap" [size]="GroupIcon.md"></pad-icon>
            <p class="text-sm font-medium text-gray-700">Keyboard shortcuts</p>
          </li>
        </ul>

        <ul class="flex flex-col py-1 border-t border-gray-200">
          <li class="h-[42px] flex items-center px-4 gap-2">
            <pad-icon class="stroke-gray-700" key="lock" [size]="GroupIcon.md"></pad-icon>
            <p class="text-sm font-medium text-gray-700">Change password</p>
          </li>

          <li class="h-[42px] flex items-center px-4 gap-2">
            <pad-icon
              class="stroke-gray-700"
              key="help-circle"
              [size]="GroupIcon.md"></pad-icon>
            <p class="text-sm font-medium text-gray-700">Support</p>
          </li>
        </ul>

        <ul class="border-t border-gray-200">
          <li
            (click)="logout()"
            class="h-[50px] flex items-center px-4 gap-2 cursor-pointer">
            <pad-icon
              class="stroke-gray-700"
              key="log-out"
              [size]="GroupIcon.md"></pad-icon>
            <p class="text-sm font-medium text-gray-700">Log out</p>
          </li>
        </ul>
      </div>
    </div> -->

  <ul class="border-t border-gray-200">
    <li (click)="onLogout()" class="h-[50px] flex items-center px-4 gap-2 cursor-pointer">
      <pad-icon class="stroke-gray-700" key="log-out"></pad-icon>
      <p class="text-sm font-medium text-gray-700">Log out</p>
    </li>
  </ul>
</div>
